.header-img {
    width: 70px;
    height: 75px;
  }
  .main-img {
    width: 500px;
    height: 300px;
  }
  .pics-img {
    width: 200px;
    height: 200px;
  }
  
  .header {
    top: 0;
    width: 100%;
    height: 100px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: grey;
  }
  
  nav > ul {
    display: flex;
    flex: 1;
    justify-content: left;
    gap: 30px;
    list-style: none;
    font-size: 20px;
    padding-right: 80px;
  }
  
  .main {
    height: 400px;
    width: 100%;
    
    background-color: grey;
    padding-bottom: 50px;
  }
  
  .main-flex {
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 50px;
    display: flex;
    flex: 1;
    align-items: right;
    gap: 100px;
  }

  .main-flex > div {
    margin: auto;
  }

  .pics {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: beige;
  }

  .flex-pics {
    margin-left: 200px;
    margin-right: 200px;
    display:flex;
    flex: 1;
    align-items: center;
   
  }

  .picchild {
    margin: auto;
  }

  .quote {
    display: flex;
    flex: 1
    height: 150px;
    background-color: aquamarine;
  }
.quote > div {
   margin: auto; 
}

  .quotetext {
    font-size: 40px;
    font-style: italic;
    text-align: center;
  }

  .quoter {
    text-align: right;
  }
  